<footer class="fdb-block footer-large bg-dark" data-block-type="footers" data-id="2">
  <div class="container">

    <div class="row align-items-top text-center text-md-left">
      <div class="col-12 col-sm-6 col-md-4">
        <h3><strong><a href="/resume">Résumé</a></strong></h3>
        <p>
          <a href="/resume">Executive Summary</a><br>
          <a href="/resume/engagements">Engagements</a><br>
          <a href="/resume/products-created">Products Created</a><br>
          <a href="/resume/skills">Skills</a><br>
          <a href="/resume/certifications">Certifications</a><br>
          <a href="/resume/publications">Publications</a><br>
          <a href="/resume/legacy-experience">Legacy Experience</a>
        </p>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0">
        <h3><strong><a href="/posts">Blog</a></strong></h3>
        <p>
          <a href="/archives">Archives</a><br>
          <a href="/best-of">Best of CharlesSieg.com</a>
        </p>
      </div>

      <div class="col-12 col-md-4 mt-5 mt-md-0 text-md-left">
        <h3><strong>Contact</strong></h3>
        <p>
          <a href="https://github.com/CharlesSieg">GitHub</a><br>
          <a href="https://acloud.guru/named/charles-sieg">A Cloud Guru</a><br>
          <a href="https://www.facebook.com/charles.sieg">Facebook</a><br>
          <a href="https://www.twitter.com/charlessieg">Twitter</a><br>
          <a href="https://www.instagram.com/charlessieg">Instagram</a><br>
          <a href="https://www.flickr.com/photos/forkbender/">Flickr</a><br>
          <a href="https://www.pinterest.com/charlessieg/">Pinterest</a><br>
          <a href="https://www.linkedin.com/in/charlessieg">LinkedIn</a><br>
          <a href="https://www.randomsnapshot.com">Tumblr</a>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center">
        &copy; 2019 Charles Sieg. All Rights Reserved
      </div>
    </div>
  </div>
</footer>
