<footer class="fdb-block footer-large bg-dark" data-block-type="footers" data-id="2">
  <div class="container">

    <div class="row align-items-top text-center text-md-left">
      <div class="col-12 col-sm-6 col-md-4">
        <h3><strong><a href="/support">Support</a></strong></h3>
        <p>
          <a href="/support/faq">Frequently Asked Questions (FAQ)</a><br>
          <a href="/support/release-notes">Release Notes</a><br>
          <a href="/support/user-guide">User Guide</a>
        </p>
      </div>

      <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0">
        <h3><strong><a href="/legal">Legal</a></strong></h3>
        <p>
          <a href="/legal/privacy-policy">Privacy Policy</a><br>
          <a href="/legal/terms-of-service">Terms of Service</a>
        </p>
      </div>

      <div class="col-12 col-md-4 mt-5 mt-md-0 text-md-left">
        <h3><strong><a href="/about">About</a></strong></h3>
        <p>
          <a href="/about/contact-us">Contact Us</a><br>
          <!--<a href="/about/press-kit">Press Kit</a><br>-->
          <!--<a href="/posts">Blog</a></p>-->
      </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center">
        &copy; 2018 <a href="https://www.renkara.com">Renkara Media Group</a>. All Rights Reserved
      </div>
    </div>
  </div>
</footer>